<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Lambda</string>
	<key>CFBundleExecutable</key>
	<string>Lambda</string>
	<key>CFBundleIconFile</key>
	<string>generated-c6aac1c93b7b5cd5857b1223576014fc932729aee1ab2a639f308b00c9486088.icns</string>
	<key>CFBundleIdentifier</key>
	<string>Lambda</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Lambda</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
